/* кольори */
:root {
    --logo-text-color: #4D5AE5;
    --title-text-color: #2E2F42;
    --text-color: #434455;
    --hero-text-color: #FFFFFF;
    --footer-logo-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --hover-text-color: #FFFFFF;

    --primary-background: #FFFFFF;
    --button-hero-background: #4D5AE5;
    --secondary-background: #F4F4FD;
    --footer-background: #2E2F42;
    --hover-background: #404BBF;
}
/* додадково */
.list {
    list-style: none;
}
/* класи */
body {
    background: var(--primary-background);
    font-family: roboto, sans-serif;
}
.logo {
    color: var(--logo-text-color);
    
}
    .logo-header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}
.navy {
    color: var(--navy-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.address {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.hero {
    color: var(--hero-text-color);
    background: var(--footer-background);
    font-style: 400;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}
.primary-button {
    color: var(--hero-text-color);
    background: var(--button-hero-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.secondary-button {
    color: var(--logo-text-color);
    background: var(--secondary-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.secondary-button:hover,
.secondary-button:focus {
    color: var(--hover-text-color);
    background: var(--hover-background);
}
.primary-section {
    background: var(--primary-background);
}
.secondary-section {
    background: var(--secondary-background);
}
h2 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
} 
h3 {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
footer {
    color: var(--footer-text-color);
    background: var(--footer-background);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.logo-footer {
    color: var(--footer-logo-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}
/* Avtark maid it */